{% extends 'base_generic.html' %} {% block content %}
<h2>Your Feed</h2>

{% for tweet in tweets %}
<div class="tweet">
  <p><strong>{{ tweet.user.username }}</strong> said:</p>
  <p>{{ tweet.content }}</p>
  <p><em>{{ tweet.created_at }}</em></p>

  {% if request.user != tweet.user %} {% if request.user.following.all %}
  <form action="{% url 'unfollow' tweet.user.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Unfollow</button>
  </form>
  {% else %}
  <form action="{% url 'follow' tweet.user.id %}" method="POST">
    {% csrf_token %}
    <button type="submit">Follow</button>
  </form>
  {% endif %} {% endif %}
</div>
{% empty %}
<p>No tweets to display.</p>
{% endfor %} {% endblock %}
